<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>To-do List</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div class="container" id="todo">
			
			<div class="panel">	

				<input type="checkbox" id="mark-all" @click="selectAll" :checked="areAllSelected">
				<h1>Just Do It</h1>
				<button @click="clearList">Clear List</button>

			</div>

			<div class="list">

				<ul class="list-item">

					<li v-for="task in tasks" :class="{done: isChecked(task)}">

						<input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
						
						<input type="text" v-if="task === editingTask" v-auto-focus class="text-input" @keyup.enter="endEditing(task)" @blur="endEditing(task)" v-model="task.text">

						<label for="checkbox" @dblclick="editTask(task)">{{ task.text }}</label>
						
						<button class="delete" @click="removeTask(task)">X</button>

					</li>
				
				</ul>
			
			</div>

			<div class="entry">

				<input v-model="newTask" @keyup.enter="addTask" placeholder="What do you need to do?" autofocus>
			
			</div>

	</div>
	
	<div class="credit">
			<p>Use the input field at the bottom to add an item (press Enter)</p>
			<p>Double click on the text to edit it (press Enter to save)</p>
			<p>Hover on the item and click "X" to delete it</p>
			<p>Created by <a href="http://ayoisaiah.com">Ayo Isaiah</a> using <a href="http://vuejs.org">Vue.js</a></p>
	</div>

	<script src="vue.js"></script>
	<script src="script.js"></script>
</body>
</html>